{% extends 'base.html' %}
{% block content %}
<div class="flex justify-center items-center py-10">
  <div class="card w-full max-w-sm bg-base-100 shadow-2xl border">
    <div class="card-body">
      <h2 class="card-title justify-center text-2xl font-bold text-[#00295d]">Acessar Conta</h2>
      <form method="post" class="space-y-4">
        <div class="form-control">
          <label class="label"><span class="label-text font-bold">Telefone</span></label>
          <input type="text" name="telefone" id="login_telefone" placeholder="(00) 00000-0000" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text font-bold">Senha</span>
            <a href="{{ url_for('esqueci_senha') }}" class="label-text-alt link link-primary">Esqueci a senha?</a>
          </label>
          <input type="password" name="senha" class="input input-bordered" required />
        </div>
        <button class="btn btn-primary w-full text-white">Entrar</button>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
$(document).ready(function() {
    $('#login_telefone').mask('(00) 00000-0000');
});
</script>
{% endblock %}